@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }

  .question {
    font-size: 50px;
    font-weight: bolder;
  }
}

#map {
  height: 400px;
  width: 100%;
}
